html {
    
}

#preloader {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #c0c0c0;
    z-index: 1000;
    transition: all .3s;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:30px;
    background:hsl(0, 0%, 48%);
    padding-top: 2px;
}